<!DOCTYPE html>
<html>
<head>
    <title>Library System</title>
</head>
<body>
    <h2>Library</h2>

    <h3>Add Book</h3>
    <form action="{{ url_for('add_book') }}" method="post">
        Code: <input type="text" name="code"><br>
        Title: <input type="text" name="title"><br>
        Author: <input type="text" name="author"><br>
        <input type="submit" value="Add">
    </form>

    <h3>Add Reader</h3>
    <form action="{{ url_for('add_user') }}" method="post">
        Name: <input type="text" name="name"><br>
        Code: <input type="text" name="code"><br>
        <input type="submit" value="Add">
    </form>

    <h3>Reader List</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.code }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Book List</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.code }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>
                    {% if book.checked_out_by %}
                    <a href="{{ url_for('checkin', book_id=book.id) }}">Return</a>
                    {% else %}
                    <select name="user_id" onchange="location = this.value;">
                        <option value="#">Select Reader</option>
                        {% for user in users %}
                        <option value="{{ url_for('checkout', book_id=book.id, user_id=user.id) }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
